@model IEnumerable<FairOrderingSystem.Models.Company>
@{
	ViewBag.Title = "New User";

}

@Html.ValidationSummary()
<hCompanyd>
    <title></title>
</head>
<body>
	<div>
		<h1>
			Please Enter the Info Bellow 
		</h1>
	</div>
	<div class="inputArea">

			
			<form action="/Home/creatUser" id="createCompany" method="post">
				<input id="companyName" name="companyName" placeholder="Company Name" type ="text" >
				<input id="cell" name="cell" placeholder="cell" type="text" > 
				<input id="phone" name="phone" placeholder="phone" type="text" >
				<input id="password" name="password" placeholder="password" type="password">
				<input id="password2" name="password2" placeholder="Verify Password" type="password">
				<input id="email" name="email" placeholder="email" type="text" >
				<button type="submit">Create</button>
			</form>
			 
	</div>
	<p>
		
	</p>
    <div>
    
    </div>
</body>
</html>

