@{
	ViewBag.Title = "New User";
}
<html>
<head>
    <title></title>
</head>
<body>
	<div>
		<h1>
			Please Enter the Info Bellow 
		</h1>
	</div>
	<div class="inputArea">
		<label>First Name</label>
		<input />
		<label>Last Name</label>
		<input />
		<label> Company Name</label>
		<input />
		<label> Email </label>
		<input />
		<label> Phone </label>
		<input />
		<label> Cell </label>
		<input />
		<label> Password </label>
		<input type="password" />

	</div>
	<p>
		
	</p>
    <div>
    
    </div>
</body>
</html>

