@{
	ViewBag.Title = "New User";
}
<html>
<head>
    <title></title>
</head>
<body>
	<div>
		<h1>
			Please Enter the Info Bellow 
		</h1>
	</div>
	<div class="inputArea">
		<label> Company Name</label>
		<input name="company"/>
		<label> Email </label>
		<input name="email"/>
		<label> Phone </label>
		<input name="phone" />
		<label> Cell </label>
		<input name="cell"/>
		<label> Password </label>
		<input type="password" name="pass" />
		<button type ="button" id="newUserButtonSQL" <button type ="button" id="newUserButton" onclick="location.href='@Url.Action("creatUser","Home")'">Create</button>>Login</button>
	</div>
	<p>
		
	</p>
    <div>
    
    </div>
</body>
</html>

